@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@300;400;500;600;700;900&display=swap');

html{
    font-size: 10px;
}

body{
    margin:0px auto;
    width:1280px;
}

header{
    display: flex;
    justify-content: center;
}

#menubar{
    position:absolute;
    left: 1504px;
    margin-top: 87px;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 1rem;
    font-weight: 500;
}

a
{
    color:inherit;
    text-decoration: none;
}

ul
{
    list-style-type: none;
}

ul li:hover
{
    color: #f8a580;
}

#menu03{
    color:#f8a580;
}

.container07{
    display: flex;
    justify-content:center;
    text-align: center;
    margin-top: 50px;
}

.container08{
    margin-top: 150px;
    display: flex;
    justify-content: space-around;
}

p{
    font-family: 'Noto sans KR', sans-serif;
    font-weight: 400;
    font-size:2rem;
    letter-spacing: -0.1rem;
    line-height: 1.7;
}

h1{
    font-family: 'Noto sans KR', sans-serif;
    font-weight: 600;
    font-size:2.2rem;
    letter-spacing: -0.1rem;
}

#submenutext{
    font-family: 'Noto sans KR', sans-serif;
    font-weight: 600;
    font-size:2.2rem;
    letter-spacing: -0.1rem;
}

#subtextbox{
    margin-top:100px;
}

.topnav{
    position: fixed;
    bottom: 330px;
    right: 530px;
}

.footer{
    margin-top: 350px;
}